OptionSettings:
  aws:elbv2:loadbalancer:
    AccessLogsS3Enabled: false
    IdleTimeout: 10
  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: 10
    HealthCheckInterval: 20
    HealthCheckPath: /
    HealthCheckTimeout: 10
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 3
    Port: 80
    Protocol: HTTP
    StickinessEnabled: false
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    DefaultProcess: default