Resources:
  ScaleUp: 
    Type: AWS::AutoScaling::ScalingPolicy
    Properties: 
      AdjustmentType: "ChangeInCapacity"
      AutoScalingGroupName: { "Ref" : "AWSEBAutoScalingGroup" }
      PolicyType: "SimpleScaling"
      Cooldown: "60"
      ScalingAdjustment: 1
  HighCPUAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      Namespace: "AWS/EC2"
      MetricName: CPUUtilization
      Dimensions:
        - Name: AutoScalingGroupName
          Value: { "Ref" : "AWSEBAutoScalingGroup" }
      Statistic: Average
      Period: 60
      EvaluationPeriods: 2
      Threshold: 80
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - Ref: ScaleUp

      